* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

p {
  color: gray;
  letter-spacing: 0.08rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

.green_span {
  font-size: 2.5rem;
  color: green;
}

.section_1_active {
  border: 1px solid green;
  color: green;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
}

.display_none {
  visibility: hidden;
}

.standart_button {
  width: 100%;
  height: 15%;
  border: 1px solid green;
  color: green;
  background: rgba(0, 0, 0, 0);
  border-radius: 4rem;
  transition: all 0.2s;
  font-size: 2rem;
}
.standart_button:hover {
  background-color: green;
  color: white;
}

header {
  position: fixed;
  z-index: 999;
  background: white;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header nav img {
  cursor: pointer;
}
header nav .nav_menu {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header nav .nav_button {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header nav .nav_button button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
header nav .nav_button .profile {
  width: 17%;
}

main {
  position: relative;
  top: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .section_1 {
  width: 70%;
  height: 125vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
}
main .section_1 .s_1_text {
  width: 55%;
  height: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
main .section_1 .s_1_text p {
  position: relative;
  left: 2.5%;
}
main .section_1 .s_1_text h2 {
  position: relative;
  left: 2.5%;
  width: 90%;
}
main .section_1 .s_1_text__top {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
main .section_1 .s_1_text__top h1 {
  font-size: 3.5rem;
  width: 60%;
}
main .section_1 .s_1_text__top .value {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: end;
}
main .section_1 .s_1_text__teg {
  width: 60%;
  height: 3%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
main .section_1 .s_1_text__file {
  position: relative;
  left: 2.5%;
  width: 40%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
main .section_1 .s_1_text__file .document {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
main .section_1 .s_1_text__file .document img {
  width: 12%;
}
main .section_1 .s_1_text__file .document h2 {
  font-size: 2.2rem;
  font-weight: 400;
}
main .section_1 .s_1_text__bottom {
  position: relative;
  left: 2.5%;
  width: 90%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
main .section_1 .s_1_text__bottom .standart_button {
  width: 30%;
  height: 70%;
}
main .section_1 .s_1_profile {
  width: 40%;
  height: 16%;
  background: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
main .section_1 .s_1_profile .text {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: start;
}
main .section_1 .s_1_profile .text .stars {
  width: 70%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
main .section_1 .s_1_profile .text .stars__star_block {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
main .section_1 .s_1_profile img {
  width: 25%;
}
main .section_2 {
  width: 70%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: none;
}
main .section_2 .s_2_text {
  width: 55%;
  height: 95%;
  background: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: start;
}
main .section_2 .s_2_text .text_block {
  width: 90%;
  height: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
main .section_2 .s_2_text .text_block h2 {
  position: relative;
  left: 2.5%;
}
main .section_2 .s_2_text .imgs {
  position: relative;
  left: 2.5%;
  width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2%;
  height: 12%;
}
main .section_2 .s_2_text .imgs .add_photo {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  background: rgb(220, 220, 220);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main .section_2 .s_2_text .imgs .add_photo img {
  width: 65%;
}
main .section_2 .s_2_text .imgs img {
  width: 100%;
}
main .section_2 .s_2_text .input_block {
  width: 50%;
  height: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
main .section_2 .s_2_text .input_block input {
  width: 100%;
  height: 50%;
  background: transparent;
  border: 1px solid #e1e1e1;
}
main .section_2 .s_2_text .input_block input::placeholder {
  position: relative;
  left: 5%;
}
main .section_2 .s_2_text h1 {
  position: relative;
  left: 2.5%;
  font-size: 3.5rem;
  width: 90%;
  text-align: start;
}
main .section_2 .s_2_text .standart_button {
  width: 28%;
  height: 7%;
  position: relative;
  left: 2.5%;
}
main .section_2 .s_2_text .input_block {
  position: relative;
  left: 2.5%;
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
main .section_2 .s_2_text .input_block input {
  width: 100%;
  height: 80%;
  font-size: 2.5rem;
  background: transparent;
  border: 1px solid #e1e1e1;
}
main .section_2 .s_2_text .input_block input::placeholder {
  position: relative;
  left: 5%;
  bottom: 30%;
}
main .section_2 .display_none {
  width: 40%;
}

footer {
  position: relative;
  top: 10vh;
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer section {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer section div:first-child {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
}
footer section div:first-child h2 {
  font-size: 3.5rem;
}
footer section div:first-child .s_5_block {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  align-items: start;
}
footer section div:first-child .s_5_block p {
  cursor: pointer;
  line-height: 200%;
}
footer section div:first-child .s_5_block p:first-child {
  line-height: 300%;
}
footer section div:first-child .web {
  width: 20%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
footer section div:first-child .web .list {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer section div:first-child .web .list img {
  cursor: pointer;
  transition: 0.2s;
}
footer section div:first-child .web .list img:hover {
  mask-image: linear-gradient(rgb(0, 128, 0), rgb(0, 128, 0));
}
footer section div:last-child {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
