@import
'../mixins.scss';
*{
  @include mp_0;
}
html{
  font-size: 10px;
  overflow-x: hidden;
}
a{
  @include black_classic_a;
  font-size: 2rem;
}
.show{
  display: flex !important;
  @include flex-center;
  scrollbar-width: none;
}
h2{
  font:{
    size: 2.8rem;
    weight: 500;
  }
}
p{
  color: gray;
  letter-spacing: 0.08rem;
  font:{
    size: 1.8rem;
    weight: 300;
  }
}
.section_1_active{
  border: 1px solid green;
  color: green;
}
button{
  cursor: pointer;
  font-size: 1.6rem;
}
.display_none{
  visibility: hidden;
}
.standart_button{
  width: 20%;
  height: 30%;
  border: 1px solid green;
  color: green;
  background: rgba(0, 0, 0, 0);
  border-radius: 4rem;
  transition: all .2s;
  font-size: 2rem;

  &:hover{
    background-color: green;
    color: white;
  }
}
header{
  @include fixed;
  background: white;
  width: 100vw;
  height: 8vh;
  @include flex-center;

  nav{
    width: 70%;
    height: 100%;
    @include flex-between;

    img{
      cursor: pointer;
    }
    .nav_menu{
      width: 40%;
      height: 100%;
      @include flex-between;
    }
    .nav_button{
      width: 30%;
      height: 100%;
      @include flex-between;

      button{
        border: none;
        @include flex-center;
        background: transparent;
      }
      .profile{
        width: 17%;
      }
    }
  }
}
main{
  position: relative;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  @include flex-center;

  .section_1{
    @include flex-between-column;
    width: 70%;
    height: 80%;

    .middle_block{
      width: 100%;
      height: 60%;
      @include flex-between;

      .main_block{
        width: 50%;
        height: 60%;
        @include flex-between-column;
        align-items: start;

        input{
          width: 100%;
          height: 25%;
          @include b_border;
          font-size: 2rem;

          &::placeholder{
            position: relative;
            left: 5%;
          }
        }
        .input_block{
          width: 100%;
          height: 60%;
          @include flex-between;

          div{
            width: 50%;
            height: 70%;
            @include flex-between-column;
            align-items: start;

            input{
              width: 100%;
              height: 50%;
            }
          }
        }
        .teg_block{
          width: 100%;
          height: 30%;
          @include grid(4, 2, 2%);

          button{
            border: none;
            border-radius: 4rem;
            background-color: #e1e1e1;
          }
        }
      }
    }
    .button_block{
      width: 100%;
      height: 20%;
      @include flex-center;
      justify-content: end;
    }
  }
}